.quiz-button{
    padding: 8px 24px;
    margin: 15px 30px;
    background-color:#5c0ee2 ;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.eye-button{
    padding: 8px 24px;
    margin: 15px 30px;
    background-color:#ff247a ;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
}
.bg{
    background-color: #61dafb;
}